@import "flash";
@import "monthly-budgets";
@import "pot-list";
@import "payment-form";

.navbar-brand::before {
  @extend .fas;
  content: fa-content($fa-var-piggy-bank);
  margin-right: 1rem;
}

.content {
  margin-top: 3.5rem;
}

main {
  @extend .pt-4;
}

.input-group {
  .input-group-text {
    background-color: white;
    border-right: none;
    padding-right: 0.2rem;

    i.fa-pound-sign {
      position: relative;
      top: -0.1rem;
      left: -0.2rem;
    }
  }

  .form-control {
    border-left: none;
    padding-left: 0rem;
  }

}

form.was-validated {
  .form-group {
    .input-group-text {
      border-color: theme-color("success");
    }

    &.with-error {
      .input-group-text {
        border-color: theme-color("danger");
      }
    }
  }
}
