.flash {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
}

$flash-icons: (
  "success": $fa-var-check-circle,
  "warning": $fa-var-exclamation-circle,
  "danger": $fa-var-exclamation-circle,
  "info": $fa-var-info-circle,
);

@each $color, $value in $theme-colors {
  .flash-#{$color} {
    background-color: theme-color($color);
    border-bottom-color: theme-color-level($color, 5);

    @if map_has_key($flash-icons, $color) {
      .container::before {
        @extend .fas;
        content: fa-content(map_get($flash-icons, $color));
        font-size: 1.25rem;
        float: left;
        padding-top: 0.1rem;
        color: theme-color-level($color, -10);
      }

      .msg {
        padding-left: 1.75rem;
      }
    }
  }
}

