.budget-summary {
  .budget-summary--budget-progress {
    @extend .progress;
    @extend .mb-4;

    height: 2rem;
  }

  h2 {
    @extend .h4;

    small {
      // If the monthly_budget title is too long to fit the status text in the
      // same line then wrap the entire status text to the next.
      white-space: nowrap;
     }
  }

  $budget-colors: (
    "under": "success",
    "warning": "warning",
    "over": "danger",
  );

  @each $type, $color in $budget-colors {
    &.budget-summary--#{$type}-budget {
      h2 small { color: theme-color($color); }
      .progress-bar { background-color: theme-color($color); }
    }
  }
}
