$enable-shadows: true;
$enable-gradients: true;

$theme-colors: (
  "warning": #ffc107,
);

@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/fa-solid";
@import "~@fortawesome/fontawesome-free/scss/fa-regular";

@import "application";
